{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>Project</title>
<style type="text/css">
    ul{
		margin: 0;
        padding: 0;
        list-style: none;
        background: #333333;
    }
    ul li{
        display: inline-block;
        position: relative;
        width: 200px;
        height: 29px;
        line-height: 26px;
        text-align: center;
        margin-right: 29px;
		opacity: .9;

    }
    ul li a{
        display: block;
        padding: 6px 25px;
        color: white;
        text-decoration: none;

    }
   ul li a:hover{
        color: #fff;
        background: #939393;
    }

    ul li ul.dropdown{
        max-width: 100%; /* Set width of the dropdown */
        background: #333333;
        display: none;
        position: absolute;
		z-index:999;
        left: 0;

    }
    ul li:hover ul.dropdown{
        display: block;
	}
    ul li ul.dropdown li{
        display: block;
    }
</style>
</head>
<body>
<img src='{% static "actifio1.jpg" %} ' alt="actifio" height=260 width=1503>
<br>




    <ul>
        <li><a href="https://www.actifio.com/#sthash.xCKDJxGC.dpbs">Home</a></li>
        <li><a href="https://www.actifio.com/company/">About</a></li>
        <li>
            <a href="#">Products</a>
            <ul class="dropdown">
                <li><a href="https://www.actifio.com/database-cloning/#sthash.chu3v0Kn.dpbs">SKY DB</a></li>
                <li><a href="https://www.actifio.com/data-management-for-ibm-cloud/">SKY for IBM cloud</a></li>

            </ul>
        </li>
		<li><a href="#">Services</a>
			<ul class="dropdown">
				<li><a href="https://www.actifio.com/global-services/">Global Services</a></li>
                <li><a href="https://www.actifio.com/global-services/actifio-consultancy-services/">Consulting</a></li>
			</ul>
		</li>
        <li><a href="#">Contact</a></li>
        <li><form method="post" action="/logout/">{% csrf_token %}<input type="submit" value="Logout"></form> </li>
    </ul>

<br>
<br>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<br>

<form action="/root/" method="post">
    {% csrf_token %}
Workspace Location &nbsp; <textarea name="views" rows="2" cols="40">
</textarea>
<input type="submit" value="submit"><input type="button" onclick="get_details()" value="dropdown menu">
</form>
<br>
<br>
<br>


&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<font size="4">Testcases:</font><select id="select">
		<option></option>
	</select>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;


<font size="4">Host:</font><select id="Hselect">
		<option></option>

</select>

<style>

.button {
    background-color: #4CAF50;
}
</style>


<button class="button" onclick="get_hdd()">+</button><div style="display:inline" id="demo"></div>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
</br>
</br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<font size="4">Appliances:</font><select id="Aselect" align="right">
		<option></option>
	</select>

<style>

.button {
    background-color: #4CAF50;
}
</style>
<button class="button" onclick="get_add()">+</button><div style="display:inline" id="demo1"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">

</script>
<script>



function get_details()
{
      $.ajax({
            type: "GET",
            url:"/inv/",
            dataType: "json",
            success: function (data) {
                console.log(data)
                 <!--Clear exiting data here-->
                 $('#Hselect')
                    .find('option')
                    .remove()
                    .end()
                 $.each(data.data,function(i,obj)
                {
                <!--console.log(obj)-->
                <!--var div_data="<option value="+obj+">"+obj+"</option>";-->
                <!--$(div_data).appendTo('#Hselect');-->
                var option=document.createElement('OPTION');
                var txt=obj;
                option.value=option.text=txt;
                Hselect.add(option);
                });
                }
          });

     $.ajax({
            type: "GET",
            url:"/appliances/",
            dataType: "json",
            success: function (data) {
                console.log(data)
                 <!--Clear exiting data here-->
                 $('#Aselect')
                    .find('option')
                    .remove()
                    .end()
                $.each(data.data,function(i,obj)
                {
                <!--console.log(obj)-->
                var div_data="<option value="+obj+">"+obj+"</option>";
                $(div_data).appendTo('#Aselect');
                });
                }
          });

        $.ajax({
            type: "GET",
            url:"/testcases/",
            dataType: "json",
            success: function (data) {
                console.log(data)
                 <!--Clear exiting data here-->
                 $('#select')
                    .find('option')
                    .remove()
                    .end()
                $.each(data.data,function(i,obj)
                {
                <!--console.log(obj)-->
                var div_data="<option value="+obj+">"+obj+"</option>";
                $(div_data).appendTo('#select');
                });
                }
          });

  <!--$.ajax({-->
            <!--type: "GET",-->
            <!--url:"",-->
            <!--dataType: "json",-->
            <!--success: function (data) {-->
                <!--console.log(data)-->
                 <!--&lt;!&ndash;Clear exiting data here&ndash;&gt;-->
                 <!--$('#select')-->
                    <!--.find('option')-->
                    <!--.remove()-->
                    <!--.end()-->
                <!--$.each(data.data,function(i,obj)-->
                <!--{-->
                <!--&lt;!&ndash;console.log(obj)&ndash;&gt;-->
                <!--var div_data="<option value="+obj+">"+obj+"</option>";-->
                <!--$(div_data).appendTo('#select');-->
                <!--});-->
                <!--}-->
          <!--});-->

}

function get_hdd()
{
document.getElementById('demo').innerHTML='<select id="bselect"></select>';
  $.ajax({
            type: "GET",
            url:"/inv/",
            dataType: "json",
            success: function (data) {
                console.log(data)
                 <!--Clear exiting data here-->
                 $('#bselect')
                    .find('option')
                    .remove()
                    .end()
                $.each(data.data,function(i,obj)
                {
                <!--console.log(obj)-->
                var div_data="<option value="+obj+">"+obj+"</option>";
                $(div_data).appendTo('#bselect');
                });
                }
          });


}



function get_add()
{
document.getElementById('demo1').innerHTML='<select id="bselect1"></select>';

  $.ajax({
            type: "GET",
            url:"/appliances/",
            dataType: "json",
            success: function (data) {
                console.log(data)
                 <!--Clear exiting data here-->
                 $('#bselect1')
                    .find('option')
                    .remove()
                    .end()

                $.each(data.data,function(i,obj)
                {
                <!--console.log(obj)-->
                var div_data="<option value="+obj+">"+obj+"</option>";
                $(div_data).appendTo('#bselect1');
                });
                }
          });


}





function get_options()
{
var host=document.getElementById('Hselect').value;
console.log(host);
var testcases=document.getElementById('select').value;
var app=document.getElementById('Aselect').value;
var hdd=document.getElementById('bselect').value;
var add=document.getElementById('bselect1').value;

$(document).ready(function(){
    function getCookie(c_name) {
        if(document.cookie.length > 0) {
            c_start = document.cookie.indexOf(c_name + "=");
            if(c_start != -1) {
                c_start = c_start + c_name.length + 1;
                c_end = document.cookie.indexOf(";", c_start);
                if(c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start,c_end));
            }
        }
        return "";
    }

    $(function () {
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": getCookie("csrftoken")
            }
        });
    });
});
var myEvent = {'host': host, 'test': testcases, 'app': app, 'hdd':hdd, 'add':add}
 $.ajax( {

                type: "POST",
                url: "/getoptions/",

                data: JSON.stringify(myEvent),
                contentType: "application/json; charset=utf-8",
                crossDomain: true, // enable this
                dataType: "json",
                success: function (returnObject) { //msg.Data.TransactionList
                    // Do whatever you want to do

                }

          });


}


</script>




</br>
</br>


<br>
<br>
<button onclick="get_options()">Execute</button>
<br>
<br>


<textarea class='body' id='body' rows="18" cols="209">
</textarea>
</body>
</html>